:hover#banner {
    animation: fadeIn 1s forwards;
    background-image: url(images/banner.jpeg);
}

#banner {
    margin: auto;
    height: 250px;
    width: 1100px;
    background: rgb(142,172,205);
    background: linear-gradient(0deg, rgba(142,172,205,1) 0%, rgba(210,224,251,1) 85%);
    margin-bottom: 15px;
    border-radius: 20px;
    padding-top: 1px;
}

#banner h1 {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 70px;
    color: #ed9191;
}

#banner h2 {
    font-family: 'Merienda', cursive;
    padding-left: 70px;
    font-size: 40px;
    color: #F9F3CC;
    background: linear-gradient(90deg, #F9F3CC 0%, #d06060 33.3%, rgba(252,176,69,1) 66.6%, #F9F3CC 100%);
    background-clip: text;
    color: transparent;
    background-size: 300% 100%;	
    animation: text 5s infinite linear;
}

@keyframes text{
    0%  { background-position: 0 0;}
    100% { background-position: -150% 0;}
}

@keyframes fadein {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 }
 

body {
    background-color: #D7E5CA;
    color: black;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: auto;
    width: 66.6666%;
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 20px;
    padding: 5px;
    background-color: #F9F3CC;
}

section h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #3C77B8;
    margin-bottom: 0;
}

section ul {
    list-style-type: none;
    padding: 0;
}
    
section ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 10px;
    border: 3px solid #CA8787;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

footer {
    text-align: center;
}